pandas==2.2.3
numpy==2.2.5
Django==5.1.7
django-cors-headers==4.7.0
django-debug-toolbar==5.0.1
xarray==2025.1.1
cdsapi==0.7.6
geocoder==1.38.1
tifffile==2025.5.10
sentinelhub==3.11.1
requests_oauthlib==2.0.0
oauthlib==3.2.2
geopy==25.1.1